.Satu{
    background-color: antiquewhite;
    height: 100px;
    text-align: start;
}
.Dua{
    background-color: cyan;
    height: 300px;
    text-align: center;
}
.Tiga{
    background-color: blueviolet;
    height: 50px;
    text-align: end;
}
